# The .dockerignore file excludes files from the container build process.
# https://docs.docker.com/engine/reference/builder/#dockerignore-file

# Exclude locally vendored dependencies.
vendor/

# Exclude "build-time" ignore files.
.dockerignore
.gcloudignore
docker-compose*

# Exclude git history and configuration.
.git*
.vscode*
CODEOWNERS*

# Exclude artifact types
**/*.tar.gz
**/*.tgz
**/*.iso
**/*.raw
